<div class="content" [ngStyle]="{ 'margin-bottom': '0' }">
  <form [formGroup]="myForm" id="add-cafe-form" (ngSubmit)="onSubmit()">
    <input required minlength="2" type="text" formControlName="name" />
    <input type="text" formControlName="city" />

    <button type="submit">Add Cafe</button>
  </form>

  <ul [ngStyle]="{ 'margin-top': '0' }">
    <app-cafe-item
      *ngFor="let item of data"
      [id]="item.id"
      [name]="item.name"
      [city]="item.city"
      (delete)="deleteItem($event)"
      (update)="updateItem($event)"
    ></app-cafe-item>
  </ul>
</div>

<router-outlet></router-outlet>
